body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 10px;
    font-size: 16px;

    background: -webkit-linear-gradient(-46deg, rgb(255, 0, 100), rgb(14, 255, 0));
    background: linear-gradient(-46deg, rgb(255, 0, 100), rgb(14, 255, 0)); //background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

}

h1 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 40px;
    text-shadow: #000 4px 4px 5px;
    word-spacing: 15px;
}

